<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To-Watch</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheet/style.css">

</head>

<body>
<<<<<<< HEAD
  {{!-- Nav Bar --}}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">

  
  <!-- Links -->
  <ul class="navbar-nav">
    <form class="form-inline" action="/action_page.php">
    <input class="form-control mr-sm-2" type="text" placeholder="enter title or genre">
    <button class="btn btn-success" type="submit">Search</button>
  </form>
      <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Trending Movies</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Actor</a>
      <a class="dropdown-item" href="#">Day/Week</a>
      {{!-- <a class="dropdown-item" href="#">Link 3</a> --}}
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Trending Tv/Shows</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Actor</a>
      <a class="dropdown-item" href="#">Day/Week</a>
      {{!-- <a class="dropdown-item" href="#">Link 3</a> --}}
    </div>
    {{!-- <li class="nav-item">
      <a class="nav-link" href="#">Trending Movies</a>
    </li> --}}
    {{!-- <li class="nav-item">
      <a class="nav-link" href="#">Trending Tv Shows</a>
    </li> --}}
  </ul>
</nav>

  <div class="wrapper">
   <header>
    <h1>
      <a href="/">The Reel Deal</a>
    </h1>
  </header>
    <main>
      {{#each posts}}
      {{#if  }}
      {{/if}}
      {{/each}}


    </main>
    <footer>
      Don't forget to leave a comment!
    </footer>
  </div>


=======

<main class="flex-row justify-space-between">
  <div class="col-12 col-md-4">
  <h3 class="card-header text-uppercase">Search By Title</h3>
  <form id="user-form" class="card-body">
    <label class="form-label" for="username"> Title </label>
    <input name="username" id="username" type="text" autofocus="true" class="form-input" />
    <button type="submit" class="btn">Get movie title </button>
  </form>
  </div>
>>>>>>> feature/backend1
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<<<<<<< HEAD
</body>



</html>
=======
</body>
>>>>>>> feature/backend1
