body {
    background-image: url("../screens.jpg");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;

  }
header h1 {
font-size: 4cm;
border: thick double #32a1ce;
border-radius: 10px;
color: white;
position: center;
}
.wrapper {
    color: white;
}
 * {
    box-sizing: border-box;
  }

  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  } 