<section>
  <h2>Want to add a review?</h2>
<p>Write a review of your favorite movie/tv show below</p>
  <form class="new-post-form">
    <div>
      <label for="post-title">Enter title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-review">Write review</label>
      <input type="text" id="post-review" name="post-review" />
    </div>
    <button type="submit" id="add-review" class="btn">Submit</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Reviews</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Review</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-review.js"></script> 


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Film Choices</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body class="flex-column min-100-vh">
  <nav class="navbar">
    <ul class="flex-row">
      <li class="li-inline nav-item"><a href="/">Home</a></li>
      {{!-- <li class="li-inline nav-item"><a href="/sign-in">Sign In</a></li> --}}
      <li class="li-inline nav-item"><a href="#" id="all-reviews">Reviews</a></li>
    </ul>
  </nav>
  <header class="hero">
    <h1 class="app-title"><a href="/dashboard">Your Dashboard</a></h1>
  </header>
  {{!-- <main class="col-auto"> --}}

    
    
  </main>
{{!-- <script src="/controllers/dashboard-routes.js"></script> --}}
<script src="/javascript/add-review.js"></script>
</html>