<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<div>
<p> Hey loook</p>
{{#each movieResults}}
  <div class="card">
    <div class="card-header">
    <div class="card-body">
        <div>
            {{Title}}
        </div>
    </div>
    </div>
  </div>
{{/each}}
</div>